@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {

  body {
    margin: 0;
    //width: 1440px; /*как в макете, временно*/
    width: 100%; /*temporary*/
    height: 100%;
    //overflow: hidden;

    a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;

      .header__wrapper {
        /*header 1.1*/
        div.sharepoint {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: #36c3d8;
          line-height: 28px;
          margin: 0;
          padding: 0;
        }

        div.sharepoint-logo {
          flex-grow: 1;
          align-self: center;
          padding-left: 22px;
        }

        div.sharepoint-logo img {
          vertical-align: middle;
        }

        a.share-point-logo-link {
          font-family: 'Oswald', sans-serif;
          font-size: 14px;
        }

        .share-point-logo-link {
          text-transform: uppercase;
        }

        div.sharepoint ul {
          list-style-type: none;
          margin: 0;
          padding: 0 30px 0 0;
        }

        div.horizontal-list li {
          display: inline;
          padding: 0 10px;
        }

        div.account {
          min-width: 200px;
          margin: 0;
          padding: 0 18px 0 22px;
          background-color: #efefef;
        }

        div.account a {
          color: #454446;
          padding: 0 6px;
        }

        div.account a:hover {
          opacity: .5;
        }

        div.account a.btn-user:after {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f0d7'; /*user-caret*/
          padding-left: 16px;
        }

        div.account a.btn-options:after {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f013'; /*options*/
          color: #79787a;
        }

        div.account a.btn-help:after {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f059'; /*help*/
          color: #79787a;
        }

        /*header 1.2*/
        div.sharepoint-links {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          line-height: 32px;
          background-color: #efefef;
          padding: 0;
        }

        div.sharepoint-links ul {
          display: table;
          list-style-type: none;
          margin: 0;
          padding: 0 18px 0 10px;
        }

        div.sharepoint-links li {
          display: inline;
          padding-left: 10px;
        }

        div.sharepoint-links a {
          text-transform: uppercase;
          color: #9a9a9a;
          padding: 0 6px;
        }

        div.links-1 a:hover {
          color: #ffffff;
          background-color: #36c3d8;
        }

        div.links-2 a:hover {
          opacity: .5;
        }

        div.sharepoint-links a.btn-share:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f1e0'; /*share*/
          padding-right: 6px;
        }

        div.sharepoint-links a.btn-follow:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f006'; /*follow*/
          padding-right: 6px;
        }

        div.sharepoint-links a.btn-edit:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f040'; /*edit*/
          padding-right: 6px;
        }

        div.sharepoint-links a.btn-enlarge:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f0b2'; /*enlarge*/
          padding-left: 10px;
        }

        /*header 1.3*/
        div.header-logo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          line-height: 62px;
          margin: 0;
          padding: 0;
          background-color: #454446;
        }

        div.image-logo img {
          vertical-align: middle;
          padding: 0 10px 0 20px;
        }

        a.odm {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          color: #7be7f8;
          text-transform: uppercase;
          padding: 0 10px;
        }

        /*search field*/
        div.search {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          position: relative;
        }

        div.search i.fa {
          position: absolute;
          padding: 10px;
          pointer-events: none;
          color: #cdcdcd;
        }

        .searchInput {
          width: 40px;
          height: 40px;
          padding-right: 30px;
          background-color: #454446;
          border: 1px solid #454446;
          box-sizing: border-box;
          outline: none;
          cursor: pointer;
          border-radius: 20px;
          transition: .5s;
        }

        .searchInput:focus {
          width: 300px;
          padding-left: 30px;
          cursor: auto;
          background-color: #ffffff;
        }
      }

      .main__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .menu {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          width: 250px;
          background-color: #39c2d7;

          ul {
            display: table;
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 250px;
            height: 50px;
            border-bottom: 1px solid #5ecbdc;
          }

          a {
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
          }

          li:hover {
            background-color: #31a5b7;
          }

          a:before {
            font-size: 22px;
            padding-left: 30px;
            padding-right: 20px;
          }

          /*before icons*/
          a.menu-home:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f015'; /*home*/
          }

          a.menu-documents:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f0f6'; /*documents*/
          }

          a.menu-calendar:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f073'; /*calendar*/
          }

          a.menu-archive:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f187'; /*archive*/
          }

          a.menu-nomenclature:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f03a'; /*nomenclature*/
          }

          a.menu-organizations:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f0f2'; /*organizations*/
          }

          /*after icons*/
          a.menu-documents:after {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f0d7'; /*documents-caret-down*/
            padding-right: 25px;
            padding-left: 70px;
          }
        }

        section {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          height: 100%;

          #calendar {
            table.calendar-table {
              display: flex;
              flex-direction: column;
              border: 1px solid #e7e7e7;
              margin: 15px 0 0 15px;
              border-collapse: collapse;
            }

            table.calendar-table thead {
              line-height: 40px;
              text-align: left;
              background-color: #666666;
            }

            table.calendar-table span.table-heading {
              text-transform: uppercase;
              font-family: 'Oswald', sans-serif;
              font-size: 12px;
              color: #feffff;
              padding-left: 10px;
            }

            table.calendar-table tbody {
              padding: 0 10px 8px 10px;
            }

            table.calendar-table td {
              width: 110px;
              height: 110px;
              border: 1px solid #e7e7e7;
              box-sizing: border-box;
            }

            tr.week-days td {
              height: 25px;
              border: none;
              padding-left: 14px;
              color: #666666;
              font-family: 'Source Code Pro', sans-serif;
              font-size: 14px;
              font-weight: 500;
            }

            table.calendar-table a:before {
              font-size: 20px;
              color: #feffff;
            }

            table.calendar-table a.prev:before {
              /*noinspection CssNoGenericFontName*/
              font-family: 'FontAwesome';
              content: '\f0a8 '; /*prev*/
              padding-left: 20px;
              padding-right: 3px;
            }

            table.calendar-table a.next:before {
              /*noinspection CssNoGenericFontName*/
              font-family: 'FontAwesome';
              content: '\f0a9 '; /*next*/
            }

            table.calendar-table td.day {
              position: relative;
            }

            td.day span {
              position: absolute;
              /*noinspection CssNoGenericFontName*/
              font-family: 'Source Code Pro';
              font-size: 14px;
              color: #454446;
              top: 0;
              padding: 3px;
            }
          }

          #control {
            div#control {
              /*display: flex;*/
              flex: 1;
              /*width: 200px;*/
            }

            table.control-table {
              display: flex;
              flex-direction: column;
              margin: 15px 0 0 15px;
              border: 1px solid #e7e7e7;
              border-collapse: collapse;
            }

            table.control-table thead {
              width: 100%;
              height: 27px;
              background-color: #666666;
              padding: 6px 0 6px 0;
            }

            table.control-table span {
              text-transform: uppercase;
              font-family: 'Oswald', sans-serif;
              font-size: 12px;
              color: #feffff;

            }

            table.control-table span:before {
              /*noinspection CssNoGenericFontName*/
              font-family: 'FontAwesome';
              content: '\f06e  '; /*eye*/
              font-size: 20px;
              padding: 14px 14px 12px 19px;
            }

            table.control-table td {
              padding-top: 15px;
              padding-bottom: 15px;
              line-height: 10px;
            }

            td.event-number, td.event-type {
              padding-left: 5px;
              padding-right: 20px;
            }

            table.control-table a {
              /*noinspection CssNoGenericFontName*/
              font-family: 'Source Code Pro';
              font-size: 14px;
              color: #111111;
              text-align: left;
            }

            table.control-table tr.odd {
              background-color: #f1f1f1;
            }
          }
        }
      }

      .footer__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 60px;
        /*position: fixed;*/
        bottom: 0;
        background-color: #454446;

        a, span {
          color: #cdcdcd;
          font-family: 'Source Code Pro', sans-serif;
          font-size: 10px;
          padding: 0 20px 0 20px;
        }

        span {
          flex: 1;
        }

        hr {
          width: .5px;
          height: 16px;
          color: #cdcdcd;
        }
      }
    }
  }
}