@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  height: 100%;

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;

      .header__wrapper {
        /*header 1.1*/
        div.sharepoint {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          /*align-items: center;*/
          background-color: #36c3d8;
          line-height: 28px;
          margin: 0;
          padding: 0;
        }

        div.sharepoint-logo {
          flex-grow: 1;
          align-self: center;
          padding-left: 22px;
        }

        div.sharepoint-logo img {
          vertical-align: middle;
        }

        a.share-point-logo-link {
          font-family: 'Oswald', sans-serif;
          font-size: 14px;
        }

        .share-point-logo-link {
          text-transform: uppercase;
        }

        div.sharepoint ul {
          list-style-type: none;
          margin: 0;
          padding: 0 30px 0 0;
        }

        div.horizontal-list li {
          display: inline;
          padding: 0 10px;
        }

        div.account {
          min-width: 200px;
          margin: 0;
          padding: 0 18px 0 22px;
          background-color: #efefef;
        }

        div.account a {
          color: #454446;
          padding: 0 6px;
        }

        div.account a:hover {
          opacity: .5;
        }

        div.account a.btn-user:after {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f0d7'; /*user-caret*/
          padding-left: 16px;
        }

        div.account a.btn-options:after {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f013'; /*options*/
          color: #79787a;
        }

        div.account a.btn-help:after {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f059'; /*help*/
          color: #79787a;
        }

        /*header 1.2*/
        div.sharepoint-links {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          line-height: 32px;
          background-color: #efefef;
          padding: 0;
        }

        div.sharepoint-links ul {
          display: table;
          list-style-type: none;
          margin: 0;
          padding: 0 18px 0 10px;
        }

        div.sharepoint-links li {
          display: inline;
          padding-left: 10px;
        }

        div.sharepoint-links a {
          text-transform: uppercase;
          color: #9a9a9a;
          padding: 0 6px;
        }

        div.links-1 a:hover {
          color: #ffffff;
          background-color: #36c3d8;
        }

        div.links-2 a:hover {
          opacity: .5;
        }

        div.sharepoint-links a.btn-share:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f1e0'; /*share*/
          padding-right: 6px;
        }

        div.sharepoint-links a.btn-follow:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f006'; /*follow*/
          padding-right: 6px;
        }

        div.sharepoint-links a.btn-edit:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f040'; /*edit*/
          padding-right: 6px;
        }

        div.sharepoint-links a.btn-enlarge:before {
          /*noinspection CssNoGenericFontName*/
          font-family: 'FontAwesome';
          content: '\f0b2'; /*enlarge*/
          padding-left: 10px;
        }

        /*header 1.3*/
        div.header-logo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          line-height: 62px;
          margin: 0;
          padding: 0;
          background-color: #454446;
        }

        div.image-logo img {
          vertical-align: middle;
          padding: 0 10px 0 20px;
        }

        a.odm {
          font-family: 'Oswald', sans-serif;
          font-size: 18px;
          color: #7be7f8;
          text-transform: uppercase;
          padding: 0 10px;
        }

        /*search field*/
        div.search {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          position: relative;
        }

        div.search i.fa {
          position: absolute;
          padding: 10px;
          pointer-events: none;
          color: #cdcdcd;
        }

        .searchInput {
          width: 40px;
          height: 40px;
          padding-right: 30px;
          background-color: #454446;
          border: 1px solid #454446;
          box-sizing: border-box;
          outline: none;
          cursor: pointer;
          border-radius: 20px;
          transition: .5s;
        }

        .searchInput:focus {
          width: 300px;
          padding-left: 30px;
          cursor: auto;
          background-color: #ffffff;
        }
      }

      .main__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;

        .menu {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: stretch;
          width: 250px;
          background-color: #39c2d7;

          ul {
            display: table;
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 250px;
            height: 50px;
            border-bottom: 1px solid #5ecbdc;
          }

          a {
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
          }

          li:hover {
            background-color: #31a5b7;
          }

          a:before {
            font-size: 22px;
            padding-left: 30px;
            padding-right: 20px;
          }

          /*before icons*/
          a.menu-home:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f015'; /*home*/
          }

          a.menu-documents:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f0f6'; /*documents*/
          }

          a.menu-calendar:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f073'; /*calendar*/
          }

          a.menu-archive:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f187'; /*archive*/
          }

          a.menu-nomenclature:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f03a'; /*nomenclature*/
          }

          a.menu-organizations:before {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f0f2'; /*organizations*/
          }

          /*after icons*/
          a.menu-documents:after {
            /*noinspection CssNoGenericFontName*/
            font-family: 'FontAwesome';
            content: '\f0d7'; /*documents-caret-down*/
            padding-right: 25px;
            padding-left: 70px;
          }
        }

        section {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-grow: 1;
          height: 100%;
          padding: 15px 0 0 15px;

          .calendar-grid {
            width: 100%;
            height: 100%;

            .calendar-wrapper {
              width: 100%;
              height: 100%;
              overflow: hidden;
              border: 1px solid #e7e7e7;

              .calendar-head {
                line-height: 40px;
                text-align: left;
                background-color: #666666;

                a:before {
                  font-size: 20px;
                }

                a.prev-month:before {
                  /*noinspection CssNoGenericFontName*/
                  font-family: 'FontAwesome';
                  content: '\f0a8 '; /*prev*/
                  padding-left: 18px;
                  padding-right: 3px;
                }

                a.next-month:before {
                  /*noinspection CssNoGenericFontName*/
                  font-family: 'FontAwesome';
                  content: '\f0a9 '; /*next*/
                }

                .month-name {
                  text-transform: uppercase;
                  font-family: 'Oswald', sans-serif;
                  font-size: 12px;
                  color: #feffff;
                  padding-left: 10px;
                }
              }

              .calendar-header-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin: 0;

                .cell-header {
                  overflow: hidden;
                  flex: 1;
                  //align-self: stretch;
                  height: 25px;
                  border: none;
                  padding-left: 14px;
                  color: #666666;
                  font-family: 'Source Code Pro', sans-serif;
                  font-size: 14px;
                  font-weight: 500;
                }
              }

              .calendar-body {
                height: 100%;
                overflow: auto;
                padding: 0 10px 8px 10px;

                .calendar-row {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  width: 100%;
                  height: 16%;
                  border-top: 1px solid #e7e7e7;
                  border-right: 1px solid #e7e7e7;

                  .calendar-row:last-child {
                    border-bottom: 1px solid #e7e7e7;
                  }

                  .calendar-cell {
                    overflow: hidden;
                    flex: 1;
                    align-self: stretch;
                    padding: 5px;
                    border-left: 1px solid #e7e7e7;
                    box-sizing: border-box;

                    .day-wrapper {

                      .cell-letter {
                        display: block;
                        font-size: 70%;
                        position: absolute;
                        background: yellow;
                        padding: 2px;
                        width: 220px;
                        z-index: 111;
                        overflow: hidden;
                        height: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .footer__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 60px;
        bottom: 0;
        background-color: #454446;

        a, span {
          color: #cdcdcd;
          font-family: 'Source Code Pro', sans-serif;
          font-size: 10px;
          padding: 0 20px 0 20px;
        }

        span {
          flex: 1;
        }

        hr {
          width: .5px;
          height: 16px;
          color: #cdcdcd;
        }
      }
    }
  }
}