div#control {
    display: flex;
    flex: 1;
}

table.control-table {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 15px 0 0 15px;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
}

table.control-table thead {
    width: 100%;
    height: 27px;
    background-color: #666666;
    padding: 6px 0 6px 0;
}

table.control-table span {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    color: #feffff;
}

table.control-table span:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f06e  '; /*eye*/
    font-size: 20px;
    padding: 14px 14px 12px 19px;
}

table.control-table td {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 10px;
}

td.event-number, td.event-type {
    padding-left: 5px;
    padding-right: 20px;
}

table.control-table a {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Source Code Pro';
    font-size: 14px;
    color: #111111;
    text-align: left;
}

table.control-table tr.odd {
    background-color: #f1f1f1;
}

