/*header 1.1*/
div.sharepoint {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #36c3d8;
}

div.sharepoint-logo {
    flex-grow: 1;
}

div.sharepoint ul {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0 30px 0 0;
}

div.horizontal-list li {
    display: inline;
    padding: 0 10px;
}

div.account {
    padding: 7px 20px 7px 20px;
    background-color: #efefef;
}

div.account a {
    color: #454446;
    padding: 6px;
}

div.account a:hover {
    opacity: .5;
}

div.account a.btn-user:after {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f0d7'; /*user-caret*/
    padding-left: 16px;
}

div.account a.btn-options:after {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f013'; /*options*/
    color: #79787a;
}

div.account a.btn-help:after {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f059'; /*help*/
    color: #79787a;
}

/*header 1.2*/
div.sharepoint-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 0;
}

div.sharepoint-links ul {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 7px 20px 7px 0;
}

div.sharepoint-links li {
    display: inline;
    padding-left: 10px;
}

div.sharepoint-links a {
    text-transform: uppercase;
    color: #9a9a9a;
    padding: 0 6px;
}

div.links-1 a:hover {
    color: #ffffff;
    background-color: #36c3d8;
}

div.links-2 a:hover {
    opacity: .5;
}

div.sharepoint-links a.btn-share:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f1e0'; /*share*/
    padding-right: 6px;
}

div.sharepoint-links a.btn-follow:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f006'; /*follow*/
    padding-right: 6px;
}

div.sharepoint-links a.btn-edit:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f040'; /*edit*/
    padding-right: 6px;
}

div.sharepoint-links a.btn-enlarge:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f0b2'; /*enlarge*/
    padding-left: 10px;
}

/*header 1.3*/
div.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #454446;
}

div.image-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.odm {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #7be7f8;
    text-transform: uppercase;
}

/*search field*/
div.search {
    display: flex;
    margin-right: 10px;
    position: relative;
}

div.search i.fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color: #cdcdcd;
}

#searchInput {
    width: 40px;
    padding: 10px 10px 10px 30px;
    background-color: #454446;
    border: 1px solid #454446;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: .5s;
}

#searchInput:focus {
    width: 300px;
    cursor: auto;
    background-color: #ffffff;
}