nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 250px;
    background-color: #39c2d7;
}

nav ul.menu {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 50px;
    border-bottom: 1px solid #5ecbdc;
}

nav a {
    /*noinspection CssNoGenericFontName*/
    font-family: 'Oswald';
    font-size: 14px;
    text-transform: uppercase;
}

nav li:hover {
    background-color: #31a5b7;
}

nav a:before {
    font-size: 22px;
    padding-left: 30px;
    padding-right: 20px;
}

/*before icons*/
nav a.menu-home:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f015'; /*home*/
}

nav a.menu-documents:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f0f6'; /*documents*/
}

nav a.menu-calendar:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f073'; /*calendar*/
}

nav a.menu-archive:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f187'; /*archive*/
}

nav a.menu-nomenclature:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f03a'; /*nomenclature*/
}

nav a.menu-organizations:before {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f0f2'; /*organizations*/
}

/*after icons*/
nav a.menu-documents:after {
    /*noinspection CssNoGenericFontName*/
    font-family: 'FontAwesome';
    content: '\f0d7'; /*documents-caret-down*/
    padding-right: 25px;
    padding-left: 70px;
}