@import url('header.css');
@import url('nav.css');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0;
}

body a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

